@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    height: 100%;
}

/* Global minimal reset */
body {
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}